<?xml version="1.0"?>

<model>
    <name>street</name>
    <version>1.0</version>
    <sdf version="1.5">street.sdf</sdf>
    <author>
        <name>Luis Zuluaga</name>
        <email>luazuluagara@unal.edu.co</email>
    </author>

    <description>
        Calle para simulacion de vehiculo autonomo Kobuki
    </description>
</model>