
<launch>

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find simulacion_kobuki)/worlds/obstacle_laser.world"/>
  </include> 

  <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/>
</launch>